.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .card-container:hover {
    /* Styles for the div when hovering over it */
    background-color: #c5c8c9; /* New background color on hover */
  }